.SaldoTotal{
    background-color: #4CAF50;
    display: flex;
    border-radius: 20px;
    height: 170px;
}
.billetera{
    width: 200px;
    height: 130px;
    margin-top: 35px;
    margin-left: 45px;
    align-items: center;
}
.saldototaltexto{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: white;
    text-shadow: 1px 1px 3px grey;
    font-family: Arial, Helvetica, sans-serif;
}
.saldo{
    font-size: 50px;
    font-family: "Friend\ Bestie.otf";
    font-weight: bold;
}
.saldototaltexto p{
    margin: 1px;
    margin-top:15px;
}
.menuboton{
    display: none;
    position: fixed;
    bottom: 30px;
    left: 95px;
    padding: 60px;
    gap: 20px;
}
.IngresarNumero{
    display: none;
    position: fixed;
    bottom: 140px;
    left: 130px;
    
}
.Confirmar{
    display: none;
    position: fixed;
    bottom: 170px;
    left: 180px;
    background-color: lightgreen;
    color: green;
    font-family: "Friend\ Bestie.otf";
    font-weight: bold;
}
.botonAgregar{
    border-radius: 500px;
    background-color: #4CAF50;
    color: white;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    left: 190px;
    font-size: 40px;
    font-family: "signo+";
    font-weight: bold;
    border-style: none;
}
.botonGasto{
    border-radius: 20px;
    background-color: red;
    color: white;
    padding: 7px;
    font-family: "Friend\ Bestie.otf";
    font-weight: bold;
}
.botonIngreso{
    border-radius: 20px;
    background-color: green;
    color: white;
    font-family: "Friend\ Bestie.otf";
    font-weight: bold;
}
@font-face{
    font-family: "signo+";
    src: url("Gocake.ttf");
}
@font-face{
    font-family: "Gastoletra";
    src: url("Friend\ Bestie.otf");
}   